/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background: url(public/images/bg_index.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*---------------------------------------------*/

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #8C8C8C;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

a.aSolo:hover {
    text-decoration: none;
    color: #000000;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #8C8C8C;
    text-transform: uppercase;
}

.txt3 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
}

.txt4 {
    font-family: Magra;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt-footer {
    font-family: Magra;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
}

.txt5 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}

.bg1 {
    background-color: #6990e2;
}

.bg2 {
    background-color: #a1dbff;
}

.bg3 {
    background-color: #c773c7;
}


/*////////////////////////////////////////////////////////////
[ propio ]*/

.container-login100-catalogo {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -30px auto;
}

.column-image{
    float: left;
    width: 60%;
    padding: 10px;
}

.column-form{
    float: left;
    width: 40%;
    padding: 10px;
}


ul.menu {
    display: flex;
}

.menu-burguer {
    display: none;
}

.collapse.show {
    display: none;
}

.text-right {
    text-align: right!important
}

a.menu:link,
a.menu:visited {
    color: rgb(111, 114, 114);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.menu:hover,
a.menu:active {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 5px;
}

p.title {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.7;
    color: #000000;
}

.wrap-login100-update {
    width: 900px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: -15px auto;
}

hr.social-media {
    border-width: 8px;
}

.login100-social-item-facebook,
.login100-social-item-twitter,
.login100-social-item-instagram {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.login100-social-item-facebook:hover {
    color: #fff;
    background-color: #2c55ae;
}

.login100-social-item-twitter:hover {
    color: #fff;
    background-color: #1da1f2;
}

.login100-social-item-instagram:hover {
    color: #fff;
    background-color: #800780;
}

.social-share-container {
    position: fixed;
    top: 40%;
    right: 0;
    bottom: initial;
}

.social-share-wrapper {
    padding: 8px;
    box-shadow: -1px 0px 5px 2px grey;
    background-color: #fff;
    display: inline-grid;
}

.login100-form-title-ticket {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-top:150px;
    margin-left: 100px;
}

.login100-form-title-sucursal {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

a.social-media {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.fa-fw {
    width: 24px !important;
    height: 24px !important;
    font-size: 25px;
}

.fa-fw-clock {
    width: 24px !important;
    height: 24px !important;
    font-size: 20px;
    margin-right: 10px;
}

.fa-fw-sucursal {
    width: 24px !important;
    height: 24px !important;
    font-size: 20px;
    margin-right: 2px;
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.imgMenu:hover {
    opacity: 0.8;
    filter: alpha(opacity=10);
}

.wrap-login100-form-btn-cancel {
    width: 70%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(231, 4, 4, 0.344);
    -moz-box-shadow: 0 5px 30px 0px rgba(231, 4, 4, 0.344);
    -webkit-box-shadow: 0 5px 30px 0px rgba(231, 4, 4, 0.344);
    -o-box-shadow: 0 5px 30px 0px rgba(231, 4, 4, 0.344);
    -ms-box-shadow: 0 5px 30px 0px rgba(231, 4, 4, 0.344);
}

.login100-form-bgbtn-cancel {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #be0606;
    background: -webkit-linear-gradient(right, #be0606, #222222, #be0606, #222222);
    background: -o-linear-gradient(right, #be0606, #222222, #be0606, #222222);
    background: -moz-linear-gradient(right, #be0606, #222222, #be0606, #222222);
    background: linear-gradient(right, #be0606, #222222, #be0606, #222222);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-login100-form-btn-cancel:hover .login100-form-bgbtn-cancel {
    left: 0;
}

.tamanio {
    transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    opacity: 1;
    transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.tamanio:hover {
    opacity: 1;
    transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

.sombra {
    background-color: white;
    -webkit-box-shadow: 0px -28px 35px -21px rgba(138, 138, 138, 0.61);
    -moz-box-shadow: 0px -28px 35px -21px rgba(138, 138, 138, 0.61);
    box-shadow: 0px -28px 35px -21px rgba(138, 138, 138, 0.61);
    -webkit-border-radius: 35px 35px 0px 0px;
    -moz-border-radius: 35px 35px 0px 0px;
    border-radius: 35px 35px 0px 0px;
}

.text-p7420 {
    color: #9D2449 !important;
}

.ticket {
    background-image: url("/images/promocion.jpeg");
    background-repeat:no-repeat;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.promotion {
    margin-top:50px; 
    margin-left: 120px; 
    margin-bottom: -150px;
}

/*********************************************/

#pantalla_carga {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(162, 171, 173, 0.45);
    z-index: 2000;
}

#pantalla_carga .progress {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    margin: auto;
    height: 25px;
    font-size: 20px;
}

.loader2 {
    position: absolute;
    width: 125px;
    height: 125px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 25px;
}

.item-1 {
    background-color: #08088A;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 3.1s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: green;
    top: 0;
    right: 0;
    animation: item-2_move 3.1s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: red;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 3.1s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: #FF8000;
    bottom: 0;
    left: 0;
    animation: item-4_move 3.1s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 75px)
    }
    50% {
        transform: translate(75px, 75px)
    }
    75% {
        transform: translate(75px, 0)
    }
}

@keyframes item-2_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-75px, 0)
    }
    50% {
        transform: translate(-75px, 75px)
    }
    75% {
        transform: translate(0, 75px)
    }
}

@keyframes item-3_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -75px)
    }
    50% {
        transform: translate(-75px, -75px)
    }
    75% {
        transform: translate(-75px, 0)
    }
}

@keyframes item-4_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(75px, 0)
    }
    50% {
        transform: translate(75px, -75px)
    }
    75% {
        transform: translate(0, -75px)
    }
}


/*****************************************************/


/*boton up*/

.boton-subir {
    display: none;
    border-radius: 10px;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 100;
}

/*estilos para el tag i*/

.boton-subir i {
    color: rgb(134, 133, 133);
    padding: 5px 10px 10px 10px;
}

.boton-subir i:hover {
    color: rgb(0, 0, 0);
}

.fa-chevron-up {
    font-size: 35px;
}


/*************************************************************/

@media (max-width: 768px) {
    .collapse.show {
        display: block;
    }
    ul.menu {
        display: none;
    }
    
    .menu-burguer {
        display: block;
    }
    .social-share-container {
        position: fixed;
        top: 40%;
        right: 0;
        bottom: initial;
    }
    .social-share-wrapper {
        padding: 5px;
        box-shadow: -1px 0px 5px 2px grey;
        background-color: #fff;
        display: inline-grid;
    }
    .login100-form-title-ticket {
        display: block;
        font-family: Poppins-Bold;
        font-size: 20px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        margin-top:100px;
        margin-left: 100px;
    }
    .login100-form-title-sucursal {
        display: block;
        font-family: Poppins-Bold;
        font-size: 25px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
    }
    .txt5 {
        font-family: Poppins-Regular;
        font-size: 10px;
        line-height: 1.5;
        color: #333333;
        text-transform: uppercase;
    }
    .promotion {
        margin-top:50px; 
        margin-left: 120px; 
        margin-bottom: 0px;
    }
    a.social-media {
        font-family: Poppins-Regular;
        font-size: 10px;
        line-height: 1.7;
        color: #666666;
        margin: 3px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }
    .table-font {
        font-size: 12px;
    }
    .fa-fw {
        width: 15px !important;
        height: 15px !important;
        font-size: 20px;
    }
    .fa-fw-clock {
        width: 15px !important;
        height: 15px !important;
        font-size: 20px;
        margin-right: 10px;
    }
    .fa-fw-sucursal {
        width: 15px !important;
        height: 15px !important;
        font-size: 20px;
        margin-right: 2px;
    }
}

@media (min-width:576px) {
    
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }
    .modal-sm {
        max-width: 300px
    }
}

@media (max-width:575px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .boton-subir i {
        color: rgb(134, 133, 133);
        padding: 5px 10px 10px 10px;
    }
    .fa-chevron-up {
        font-size: 25px;
    }
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
}


/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::after {
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

.input100:focus+.focus-input100::after {
    color: #199405;
}

.has-val.input100+.focus-input100::after {
    color: #199405;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 70%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(83, 255, 26, 0.344);
    -moz-box-shadow: 0 5px 30px 0px rgba(83, 255, 26, 0.344);
    -webkit-box-shadow: 0 5px 30px 0px rgba(83, 255, 26, 0.344);
    -o-box-shadow: 0 5px 30px 0px rgba(83, 255, 26, 0.344);
    -ms-box-shadow: 0 5px 30px 0px rgba(83, 255, 26, 0.344);
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #2fe11f;
    background: -webkit-linear-gradient(right, #2fe11f, #222222, #2fe11f, #222222);
    background: -o-linear-gradient(right, #2fe11f, #222222, #2fe11f, #222222);
    background: -moz-linear-gradient(right, #2fe11f, #222222, #2fe11f, #222222);
    background: linear-gradient(right, #2fe11f, #222222, #2fe11f, #222222);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/*//////////////////////////////////////////////////////////////////
[ Social item ]*/

.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.login100-social-item:hover {
    color: #fff;
    background-color: #333333;
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}