html, body, #bg, #bg table, #bg td, #cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    border: 0px solid #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}

body.index {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    cursor: default;
    background: url("../images/bg_index.jpeg") no-repeat center center fixed;
    color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-repeat: repeat;
}

body.about {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    cursor: default;
    color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-repeat: repeat;
}


.social-share-container {
    position: fixed;
    top: 35%;
    right: 0;
    bottom: initial;
}

.social-share-wrapper {
    padding: 3px;
    box-shadow: -1px 0px 5px 2px grey;
    background-color: #fff;
    display: inline-grid;
}

a.social-media {
    font-family: Poppins-Regular;
    font-size: 25px;
    line-height: 1.7;
    color: #666666;
    margin: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

img.avatar-image {
    width: 200px;
    border-radius: 50%;
}

div.content-div {
    position: relative;
    height: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.avatar-div {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

div.name-div {
    position: relative;
    left: -15%;
    margin-top: 5%;
    width: 200%;
}

p.name {
    color:white;
    font-size: 25px;
}

.buttons-container {
    position: relative;
    bottom: initial;
    right: 30%;
    margin-top: 20%;
    width: 200%;
}

a.about {
    margin-left: 93px;
}

a.projects {
    margin-left: 15px;
}

h2.h2-about {
    margin-left: 25%;
    margin-top: 50px;
    color: #6e6e6e;
}

@media (max-width: 768px) {

    a.social-media {
        font-family: Poppins-Regular;
        font-size: 15px;
        line-height: 1.7;
        color: #666666;
        margin: 3px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

    img.avatar-image {
        width: 150px;
        border-radius: 50%;
        margin-left: -10px;
    }

    div.avatar-div {
        position: absolute;
        left: 55%;
        transform: translate(-50%,-50%);
    }

    p.name {
        color:white;
        font-size: 15px;
    }

    .buttons-container {
        position: relative;
        bottom: initial;
        right: 30%;
        margin-top: 20px;
        width: 200%;
    }

    a.about {
        margin-left: 20px;
    }

    h2.h2-about {
        margin-left: 25%;
        margin-top: 50px;
        color: #6e6e6e;
        font-size: 1.2em;
    }

}