html, body, #bg, #bg table, #bg td, #cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    border: 0px solid #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    cursor: default;
    background: url("../images/bg_index.jpeg") no-repeat center center fixed;
    color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-repeat: repeat;
}

.social-share-container {
    position: fixed;
    top: 35%;
    right: 0;
    bottom: initial;
}

.social-share-wrapper {
    padding: 3px;
    box-shadow: -1px 0px 5px 2px grey;
    background-color: #fff;
    display: inline-grid;
}

a.social-media {
    font-family: Poppins-Regular;
    font-size: 25px;
    line-height: 1.7;
    color: #666666;
    margin: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.avatar-div {
    width: 270px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin: -75px 0 0 -135px;
}